extends layouts/main 

block content
    .form-container
        form(action= routes.login, method = "post")
            input(type = "email", naem= "email", placeholder = "Email")
            input(type = "password", naem= "password", placeholder = "Password")
            input(type = "submit", value = "Log In")
        include partials/socialLogin